.tmp_n8n_workflow_734.json
{"nodes" : [{"id": "webhook-trigger", "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "position": [256, 304], "webhookId": "rag-sync-github", "parameters": {"path": "rag-sync-github", "options": {}, "httpMethod": "POST", "responseMode": "onReceived"}, "typeVersion": 1}, {"id": "parse-params", "name": "Parse Sync Params", "type": "n8n-nodes-base.code", "position": [480, 304], "parameters": {"jsCode": "const body = $input.first().json.body || $input.first().json;\nconst kbId = body.kbId;\nconst sourceUrl = body.sourceUrl;\nconst sourceBranch = body.sourceBranch || 'main';\nconst sourcePath = body.sourcePath || '';\nconst difyDatasetId = body.difyDatasetId;\nconst difyApiUrl = body.difyApiUrl || 'http://dify-api:5001';\nconst difyApiKey = body.difyApiKey || '';\nconst syncJobId = body.syncJobId;\nconst progressCallbackUrl = body.progressCallbackUrl;\nconst progressCallbackToken = body.progressCallbackToken || '';\nconst sourceToken = body.sourceToken || '';\n\nif (!kbId || !sourceUrl || !difyDatasetId || !syncJobId || !difyApiKey) {\n  throw new Error('Missing required sync parameters');\n}\n\nconst match = sourceUrl.match(/github\\.com\\/([^/]+)\\/([^/]+)/);\nif (!match) throw new Error('Invalid GitHub URL: ' + sourceUrl);\nconst owner = match[1];\nconst repo = match[2].replace(/\\.git$/, '');\n\nreturn [{ json: {\n  kbId, owner, repo,\n  branch: sourceBranch,\n  path: sourcePath,\n  difyDatasetId, difyApiUrl, difyApiKey,\n  syncJobId, progressCallbackUrl, progressCallbackToken, sourceToken,\n  syncStartedAt: new Date().toISOString()\n} }];"}, "typeVersion": 2}, {"id": "init-step-cb", "name": "Init Step Callback", "type": "n8n-nodes-base.code", "position": [704, 304], "parameters": {"jsCode": "const items = $input.all();\nconst params = $('Parse Sync Params').first().json;\nif (params.progressCallbackUrl) {\n  const headers = { 'Content-Type': 'application/json' };\n  if (params.progressCallbackToken) headers['X-Rag-Sync-Token'] = params.progressCallbackToken;\n  try {\n    await fetch(params.progressCallbackUrl, {\n      method: 'POST',\n      headers,\n      body: JSON.stringify({\n        syncJobId: params.syncJobId,\n        status: 'running',\n        filesProcessed: 0,\n        filesTotal: 0,\n        step: {\n          task: 'Fetch File Tree',\n          stepName: 'fetch_file_tree',\n          status: 'running',\n          startedAt: params.syncStartedAt,\n        },\n        logMessage: `Sync started for KB ${params.kbId}`,\n      }),\n    });\n  } catch {}\n}\nreturn items;"}, "typeVersion": 2}, {"id": "get-repo-tree", "name": "Get Repo File Tree", "type": "n8n-nodes-base.httpRequest", "position": [928, 304], "parameters": {"url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/git/trees/{{ $json.branch }}?recursive=1", "options": {}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "={{ $json.sourceToken ? 'Authorization' : 'X-Placeholder' }}", "value": "={{ $json.sourceToken ? 'token ' + $json.sourceToken : 'none' }}"}, {"name": "Accept", "value": "application/vnd.github+json"}]}}, "typeVersion": 4}, {"id": "filter-files", "name": "Filter Supported Files", "type": "n8n-nodes-base.code", "position": [1152, 304], "parameters": {"jsCode": "const tree = $input.first().json.tree || [];\nconst params = $('Parse Sync Params').first().json;\nconst basePath = (params.path || '').replace(/\\/+$/, '');\n\nconst TEXT_EXTS = new Set(['md','markdown','txt','html','htm','xml','csv']);\nconst BINARY_EXTS = new Set(['pdf','docx','xlsx','xls','pptx','ppt','eml','msg','epub']);\nconst ALL_EXTS = new Set([...TEXT_EXTS, ...BINARY_EXTS]);\n\nconst files = tree.filter(item => {\n  if (item.type !== 'blob') return false;\n  const ext = (item.path.split('.').pop() || '').toLowerCase();\n  if (!ALL_EXTS.has(ext)) return false;\n  if (basePath && !item.path.startsWith(basePath + '/') && item.path !== basePath) return false;\n  return true;\n}).slice(0, 500);\n\nif (files.length === 0) throw new Error('No supported files found in repository path');\n\nreturn files.map((item, index) => ({ json: {\n  ...params,\n  filePath: item.path,\n  fileSha: item.sha,\n  fileExt: (item.path.split('.').pop() || '').toLowerCase(),\n  fileIndex: index + 1,\n  totalFiles: files.length\n} }));"}, "typeVersion": 2}, {"id": "upload-start-cb", "name": "Upload Start Callback", "type": "n8n-nodes-base.code", "position": [1376, 304], "parameters": {"jsCode": "const items = $input.all();\nconst params = $('Parse Sync Params').first().json;\nif (params.progressCallbackUrl) {\n  const headers = { 'Content-Type': 'application/json' };\n  if (params.progressCallbackToken) headers['X-Rag-Sync-Token'] = params.progressCallbackToken;\n  try {\n    await fetch(params.progressCallbackUrl, {\n      method: 'POST',\n      headers,\n      body: JSON.stringify({\n        syncJobId: params.syncJobId,\n        status: 'running',\n        filesTotal: items.length,\n        filesProcessed: 0,\n        step: {\n          task: 'Fetch File Tree',\n          stepName: 'fetch_file_tree',\n          status: 'completed',\n          completedAt: new Date().toISOString(),\n          message: `Found ${items.length} supported files`,\n        },\n        logMessage: `File tree ready: ${items.length} files to upload`,\n      }),\n    });\n  } catch {}\n}\nreturn items;"}, "typeVersion": 2}, {"id": "fetch-file-content", "name": "Fetch File Content", "type": "n8n-nodes-base.httpRequest", "position": [1600, 304], "parameters": {"url": "={{ 'https://api.github.com/repos/' + $json.owner + '/' + $json.repo + '/contents/' + encodeURIComponent($json.filePath).replace(/%2F/g, '/') + '?ref=' + encodeURIComponent($json.branch) }}", "options": {"response": {"response": {"responseFormat": "file", "outputPropertyName": "fileData"}}}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "={{ $json.sourceToken ? 'Authorization' : 'X-Placeholder' }}", "value": "={{ $json.sourceToken ? 'token ' + $json.sourceToken : 'none' }}"}, {"name": "Accept", "value": "application/vnd.github.raw"}, {"name": "User-Agent", "value": "platform-rag-sync/1.0"}]}}, "typeVersion": 4}, {"id": "upload-to-dify", "name": "Upload Doc to Dify", "type": "n8n-nodes-base.code", "position": [1824, 304], "parameters": {"jsCode": "const TEXT_EXTS = new Set(['md','markdown','txt','html','htm','xml','csv']);\nconst results = [];\nfor (const item of $input.all()) {\n  const { filePath, fileExt, difyApiUrl, difyDatasetId, difyApiKey } = item.json;\n  const binaryFile = item.binary && item.binary.fileData ? item.binary.fileData : null;\n  const base64Content = binaryFile && binaryFile.data ? binaryFile.data : '';\n  const isText = TEXT_EXTS.has(fileExt);\n  let docId = null, uploadError = null;\n  try {\n    if (isText) {\n      const text = Buffer.from(base64Content, 'base64').toString('utf8');\n      const resp = await fetch(\n        `${difyApiUrl}/v1/datasets/${difyDatasetId}/document/create_by_text`,\n        { method: 'POST',\n          headers: { 'Authorization': `Bearer ${difyApiKey}`, 'Content-Type': 'application/json' },\n          body: JSON.stringify({\n            name: filePath, text,\n            indexing_technique: 'high_quality',\n            process_rule: { mode: 'custom', rules: {\n              pre_processing_rules: [\n                { id: 'remove_extra_spaces', enabled: true },\n                { id: 'remove_urls_emails', enabled: false }\n              ],\n              segmentation: { separator: '\\n\\n', max_tokens: 1000, chunk_overlap: 200 }\n            }}\n          })\n        }\n      );\n      const data = await resp.json();\n      docId = data.document?.id;\n      if (!resp.ok) uploadError = data.message || `HTTP ${resp.status}`;\n    } else {\n      const binary = Buffer.from(base64Content, 'base64');\n      const fileName = (binaryFile && binaryFile.fileName) || filePath.split('/').pop();\n      const formData = new FormData();\n      formData.append('file', new Blob([binary], { type: (binaryFile && binaryFile.mimeType) || 'application/octet-stream' }), fileName);\n      formData.append('data', JSON.stringify({\n        name: filePath,\n        indexing_technique: 'high_quality',\n        process_rule: { mode: 'automatic' }\n      }));\n      const resp = await fetch(\n        `${difyApiUrl}/v1/datasets/${difyDatasetId}/document/create_by_file`,\n        { method: 'POST', headers: { 'Authorization': `Bearer ${difyApiKey}` }, body: formData }\n      );\n      const data = await resp.json();\n      docId = data.document?.id;\n      if (!resp.ok) uploadError = data.message || `HTTP ${resp.status}`;\n    }\n  } catch (e) { uploadError = e.message; }\n  results.push({ json: { ...item.json, difyDocId: docId, uploadError, uploadMethod: isText ? 'text' : 'file' } });\n}\nreturn results;"}, "typeVersion": 2}, {"id": "report-progress", "name": "Report File Progress", "type": "n8n-nodes-base.code", "position": [2048, 304], "parameters": {"jsCode": "const item = $input.first();\nconst params = $('Parse Sync Params').first().json;\nif (params.progressCallbackUrl) {\n  const headers = { 'Content-Type': 'application/json' };\n  if (params.progressCallbackToken) headers['X-Rag-Sync-Token'] = params.progressCallbackToken;\n  try {\n    await fetch(params.progressCallbackUrl, {\n      method: 'POST',\n      headers,\n      body: JSON.stringify({\n        syncJobId: params.syncJobId,\n        status: 'running',\n        filesProcessed: item.json.fileIndex,\n        filesTotal: item.json.totalFiles,\n        chunksProcessed: item.json.fileIndex,\n        step: {\n          task: 'Upload Files',\n          stepName: 'upload_files',\n          status: 'running',\n          message: `${item.json.fileIndex}/${item.json.totalFiles} uploaded`,\n        },\n        logMessage: `Uploaded ${item.json.filePath} via ${item.json.uploadMethod}${item.json.uploadError ? ' | ERROR: ' + item.json.uploadError : ''}`,\n        logSeverity: item.json.uploadError ? 'ERROR' : 'INFO',\n      }),\n    });\n  } catch {}\n}\nreturn [item];"}, "typeVersion": 2}, {"id": "aggregate-doc-ids", "name": "Aggregate Doc IDs", "type": "n8n-nodes-base.code", "position": [2272, 304], "parameters": {"jsCode": "const docIds = $input.all().map(item => item.json.difyDocId).filter(id => id != null);\nconst uploadErrors = $input.all()\n  .filter(item => item.json.uploadError)\n  .map(item => ({ filePath: item.json.filePath, error: item.json.uploadError }));\nconst params = $('Parse Sync Params').first().json;\nreturn [{ json: { docIds, uploadErrors, params, uploadedCount: docIds.length } }];"}, "typeVersion": 2}, {"id": "indexing-start-cb", "name": "Indexing Start Callback", "type": "n8n-nodes-base.code", "position": [2496, 304], "parameters": {"jsCode": "const items = $input.all();\nconst summary = $input.first().json;\nconst params = $('Parse Sync Params').first().json;\nif (params.progressCallbackUrl) {\n  const headers = { 'Content-Type': 'application/json' };\n  if (params.progressCallbackToken) headers['X-Rag-Sync-Token'] = params.progressCallbackToken;\n  try {\n    await fetch(params.progressCallbackUrl, {\n      method: 'POST',\n      headers,\n      body: JSON.stringify({\n        syncJobId: params.syncJobId,\n        status: 'running',\n        step: {\n          task: 'Upload Files',\n          stepName: 'upload_files',\n          status: 'completed',\n          completedAt: new Date().toISOString(),\n          message: `${summary.uploadedCount} files uploaded`,\n        },\n        logMessage: `All ${summary.uploadedCount} files uploaded to Dify. Starting indexing poll...`,\n      }),\n    });\n  } catch {}\n}\nreturn items;"}, "typeVersion": 2}, {"id": "dify-indexing-start-cb", "name": "Dify Indexing Start Callback", "type": "n8n-nodes-base.code", "position": [2720, 304], "parameters": {"jsCode": "const items = $input.all();\nconst summary = $input.first().json;\nconst params = $('Parse Sync Params').first().json;\nif (params.progressCallbackUrl) {\n  const headers = { 'Content-Type': 'application/json' };\n  if (params.progressCallbackToken) headers['X-Rag-Sync-Token'] = params.progressCallbackToken;\n  try {\n    await fetch(params.progressCallbackUrl, {\n      method: 'POST',\n      headers,\n      body: JSON.stringify({\n        syncJobId: params.syncJobId,\n        status: 'running',\n        step: {\n          task: 'Dify Indexing',\n          stepName: 'dify_indexing',\n          status: 'running',\n          startedAt: new Date().toISOString(),\n        },\n        logMessage: `Polling Dify indexing status for ${summary.docIds.length} documents...`,\n      }),\n    });\n  } catch {}\n}\nreturn items;"}, "typeVersion": 2}, {"id": "poll-dify-indexing", "name": "Poll Dify Indexing", "type": "n8n-nodes-base.code", "position": [2944, 304], "parameters": {"jsCode": "const { docIds, params, uploadErrors } = $input.first().json;\nconst maxAttempts = 24;\nconst intervalMs = 5000;\nconst results = {};\nfor (let attempt = 0; attempt < maxAttempts; attempt++) {\n  await new Promise(r => setTimeout(r, intervalMs));\n  let allDone = true;\n  for (const docId of docIds) {\n    if (results[docId] === 'completed' || results[docId] === 'error') continue;\n    try {\n      const resp = await fetch(\n        `${params.difyApiUrl}/v1/datasets/${params.difyDatasetId}/documents/${docId}/indexing-status`,\n        { headers: { 'Authorization': `Bearer ${params.difyApiKey}` } }\n      );\n      const data = await resp.json();\n      const status = data.data?.[0]?.indexing_status;\n      if (status) results[docId] = status;\n      if (status !== 'completed' && status !== 'error') allDone = false;\n    } catch { allDone = false; }\n  }\n  if (allDone) break;\n}\nconst completedCount = Object.values(results).filter(s => s === 'completed').length;\nconst errorCount = Object.values(results).filter(s => s === 'error').length;\nconst timedOut = Object.values(results).some(s => s !== 'completed' && s !== 'error');\nconst hasFailures = errorCount > 0 || timedOut || (uploadErrors && uploadErrors.length > 0);\nreturn [{ json: {\n  docIds, results, completedCount, errorCount, timedOut,\n  uploadErrors: uploadErrors || [],\n  finalStatus: hasFailures ? 'failed' : 'completed',\n  params\n} }];"}, "typeVersion": 2}, {"id": "report-final", "name": "Report Final Status", "type": "n8n-nodes-base.code", "position": [3168, 304], "parameters": {"jsCode": "const items = $input.all();\nconst summary = $input.first().json;\nconst params = $('Parse Sync Params').first().json;\nif (params.progressCallbackUrl) {\n  const headers = { 'Content-Type': 'application/json' };\n  if (params.progressCallbackToken) headers['X-Rag-Sync-Token'] = params.progressCallbackToken;\n  try {\n    await fetch(params.progressCallbackUrl, {\n      method: 'POST',\n      headers,\n      body: JSON.stringify({\n        syncJobId: params.syncJobId,\n        status: summary.finalStatus,\n        filesProcessed: summary.completedCount + summary.errorCount,\n        filesTotal: summary.docIds.length,\n        chunksProcessed: summary.completedCount,\n        errorMessage: summary.errorCount > 0 ? `${summary.errorCount} docs failed indexing` : (summary.timedOut ? 'Indexing timed out' : ''),\n        step: {\n          task: 'Dify Indexing',\n          stepName: 'dify_indexing',\n          status: summary.finalStatus,\n          completedAt: new Date().toISOString(),\n          message: `${summary.completedCount} indexed, ${summary.errorCount} errors`,\n        },\n        logMessage: `Sync complete: ${summary.completedCount}/${summary.docIds.length} docs indexed, ${summary.errorCount} errors`,\n        logSeverity: summary.finalStatus === 'failed' ? 'ERROR' : 'INFO',\n      }),\n    });\n  } catch {}\n}\nreturn items;"}, "typeVersion": 2}], "connections" : {"Webhook Trigger": {"main": [[{"node": "Parse Sync Params", "type": "main", "index": 0}]]}, "Parse Sync Params": {"main": [[{"node": "Init Step Callback", "type": "main", "index": 0}]]}, "Init Step Callback": {"main": [[{"node": "Get Repo File Tree", "type": "main", "index": 0}]]}, "Get Repo File Tree": {"main": [[{"node": "Filter Supported Files", "type": "main", "index": 0}]]}, "Filter Supported Files": {"main": [[{"node": "Upload Start Callback", "type": "main", "index": 0}]]}, "Upload Start Callback": {"main": [[{"node": "Fetch File Content", "type": "main", "index": 0}]]}, "Fetch File Content": {"main": [[{"node": "Upload Doc to Dify", "type": "main", "index": 0}]]}, "Upload Doc to Dify": {"main": [[{"node": "Report File Progress", "type": "main", "index": 0}]]}, "Report File Progress": {"main": [[{"node": "Aggregate Doc IDs", "type": "main", "index": 0}]]}, "Aggregate Doc IDs": {"main": [[{"node": "Indexing Start Callback", "type": "main", "index": 0}]]}, "Indexing Start Callback": {"main": [[{"node": "Dify Indexing Start Callback", "type": "main", "index": 0}]]}, "Dify Indexing Start Callback": {"main": [[{"node": "Poll Dify Indexing", "type": "main", "index": 0}]]}, "Poll Dify Indexing": {"main": [[{"node": "Report Final Status", "type": "main", "index": 0}]]}}, "name" : "GitHub → Dify KB Sync", "versionId" : "734b5007-e90c-4479-ab5c-e8a852c09694"}
