infra/n8n/templates/github-to-dify-sync.json
{
  "name": "GitHub → Dify KB Sync",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [
        256,
        304
      ],
      "webhookId": "rag-sync-github",
      "parameters": {
        "path": "rag-sync-github",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "typeVersion": 1
    },
    {
      "id": "parse-params",
      "name": "Parse Sync Params",
      "type": "n8n-nodes-base.code",
      "position": [
        480,
        304
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst kbId = body.kbId;\nconst sourceUrl = body.sourceUrl;\nconst sourceBranch = body.sourceBranch || 'main';\nconst sourcePath = body.sourcePath || '';\nconst difyDatasetId = body.difyDatasetId;\nconst difyApiUrl = body.difyApiUrl || 'http://dify-api:5001';\nconst difyApiKey = body.difyApiKey || '';\nconst syncJobId = body.syncJobId;\nconst progressCallbackUrl = body.progressCallbackUrl;\nconst progressCallbackToken = body.progressCallbackToken || '';\nconst sourceToken = body.sourceToken || '';\n\nif (!kbId || !sourceUrl || !difyDatasetId || !syncJobId || !difyApiKey) {\n  throw new Error('Missing required sync parameters');\n}\n\nconst match = sourceUrl.match(/github\\.com\\/([^/]+)\\/([^/]+)/);\nif (!match) throw new Error('Invalid GitHub URL: ' + sourceUrl);\nconst owner = match[1];\nconst repo = match[2].replace(/\\.git$/, '');\n\nreturn [{ json: {\n  kbId, owner, repo,\n  branch: sourceBranch,\n  path: sourcePath,\n  difyDatasetId, difyApiUrl, difyApiKey,\n  syncJobId, progressCallbackUrl, progressCallbackToken, sourceToken,\n  syncStartedAt: new Date().toISOString()\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "init-step-cb",
      "name": "Init Step Callback",
      "type": "n8n-nodes-base.code",
      "position": [
        704,
        304
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst params = $('Parse Sync Params').first().json;\nif (params.progressCallbackUrl) {\n  const headers = { 'Content-Type': 'application/json' };\n  if (params.progressCallbackToken) headers['X-Rag-Sync-Token'] = params.progressCallbackToken;\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: params.progressCallbackUrl,\n      headers,\n      body: {\n        syncJobId: params.syncJobId,\n        status: 'running',\n        filesProcessed: 0,\n        filesTotal: 0,\n        step: {\n          task: 'Fetch File Tree',\n          stepName: 'fetch_file_tree',\n          status: 'running',\n          startedAt: params.syncStartedAt,\n        },\n        logMessage:           'Sync started for KB ' + params.kbId,\n      },\n      json: true,\n    });\n  } catch {}\n}\nreturn items;"
      },
      "typeVersion": 2
    },
    {
      "id": "get-repo-tree",
      "name": "Get Repo File Tree",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        928,
        304
      ],
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/git/trees/{{ $json.branch }}?recursive=1",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "={{ $json.sourceToken ? 'Authorization' : 'X-Placeholder' }}",
              "value": "={{ $json.sourceToken ? 'token ' + $json.sourceToken : 'none' }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        }
      },
      "typeVersion": 4
    },
    {
      "id": "filter-files",
      "name": "Filter Supported Files",
      "type": "n8n-nodes-base.code",
      "position": [
        1152,
        304
      ],
      "parameters": {
        "jsCode": "const tree = $input.first().json.tree || [];\nconst params = $('Parse Sync Params').first().json;\nconst basePath = (params.path || '').replace(/\\/+$/, '');\n\nconst TEXT_EXTS = new Set(['md','markdown','txt','html','htm','xml','csv']);\nconst files = tree.filter(item => {\n  if (item.type !== 'blob') return false;\n  const ext = (item.path.split('.').pop() || '').toLowerCase();\n  if (!TEXT_EXTS.has(ext)) return false;\n  if (basePath && !item.path.startsWith(basePath + '/') && item.path !== basePath) return false;\n  return true;\n}).slice(0, 500);\n\nif (files.length === 0) throw new Error('No supported files found in repository path');\n\nreturn files.map((item, index) => ({ json: {\n  ...params,\n  filePath: item.path,\n  fileSha: item.sha,\n  fileExt: (item.path.split('.').pop() || '').toLowerCase(),\n  fileIndex: index + 1,\n  totalFiles: files.length\n} }));"
      },
      "typeVersion": 2
    },
    {
      "id": "upload-start-cb",
      "name": "Upload Start Callback",
      "type": "n8n-nodes-base.code",
      "position": [
        1376,
        304
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst params = $('Parse Sync Params').first().json;\nif (params.progressCallbackUrl) {\n  const headers = { 'Content-Type': 'application/json' };\n  if (params.progressCallbackToken) headers['X-Rag-Sync-Token'] = params.progressCallbackToken;\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: params.progressCallbackUrl,\n      headers,\n      body: {\n        syncJobId: params.syncJobId,\n        status: 'running',\n        filesTotal: items.length,\n        filesProcessed: 0,\n        step: {\n          task: 'Fetch File Tree',\n          stepName: 'fetch_file_tree',\n          status: 'completed',\n          completedAt: new Date().toISOString(),\n          message: 'Found ' + items.length + ' supported files',\n        },\n        logMessage: 'File tree ready: ' + items.length + ' files to upload',\n      },\n      json: true,\n    });\n  } catch {}\n}\nreturn items;"
      },
      "typeVersion": 2
    },
    {
      "id": "fetch-file-content",
      "name": "Fetch File Content",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1600,
        304
      ],
      "parameters": {
        "url": "={{ 'https://raw.githubusercontent.com/' + $json.owner + '/' + $json.repo + '/' + encodeURIComponent($json.branch) + '/' + encodeURIComponent($json.filePath).replace(/%2F/g, '/') }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "fileData"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "={{ $json.sourceToken ? 'Authorization' : 'X-Placeholder' }}",
              "value": "={{ $json.sourceToken ? 'token ' + $json.sourceToken : 'none' }}"
            },
            {
              "name": "User-Agent",
              "value": "platform-rag-sync/1.0"
            }
          ]
        }
      },
      "typeVersion": 4
    },
    {
      "id": "upload-to-dify",
      "name": "Upload Doc to Dify",
      "type": "n8n-nodes-base.code",
      "position": [
        1824,
        304
      ],
      "parameters": {
        "jsCode": "const TEXT_EXTS = new Set(['md','markdown','txt','html','htm','xml','csv']);\nconst items = $input.all();\nconst results = [];\nfor (let itemIndex = 0; itemIndex < items.length; itemIndex++) {\n  const item = items[itemIndex];\n  const { filePath, fileExt, difyApiUrl, difyDatasetId, difyApiKey } = item.json;\n  const binaryFile = item.binary && item.binary.fileData ? item.binary.fileData : null;\n  let docId = null, difyBatch = null, uploadError = null;\n  try {\n    if (!TEXT_EXTS.has(fileExt)) {\n      uploadError = 'Unsupported file extension for current sync workflow: ' + fileExt;\n    } else if (!binaryFile) {\n      uploadError = 'Fetch File Content did not return fileData for ' + filePath;\n    } else {\n      const fileBuffer = await this.helpers.getBinaryDataBuffer(itemIndex, 'fileData');\n      const text = fileBuffer.toString('utf8');\n      const response = await this.helpers.httpRequest({\n        method: 'POST',\n        url: difyApiUrl + '/v1/datasets/' + difyDatasetId + '/document/create_by_text',\n        headers: {\n          Authorization: 'Bearer ' + difyApiKey,\n          'Content-Type': 'application/json',\n        },\n        body: {\n          name: filePath,\n          text,\n          indexing_technique: 'high_quality',\n          process_rule: {\n            mode: 'custom',\n            rules: {\n              pre_processing_rules: [\n                { id: 'remove_extra_spaces', enabled: true },\n                { id: 'remove_urls_emails', enabled: false },\n              ],\n              segmentation: { separator: '\\n\\n', max_tokens: 1000, chunk_overlap: 200 },\n            },\n          },\n        },\n        json: true,\n        returnFullResponse: true,\n      });\n      const payload = response.body ?? response;\n      docId = payload.document?.id ?? null;\n      difyBatch = payload.batch ?? null;\n      if (!docId || !difyBatch) {\n        uploadError = payload.message || 'Dify did not return a document id and batch';\n      }\n    }\n  } catch (e) {\n    uploadError = e?.response?.body?.message || e?.message || String(e);\n  }\n  results.push({ json: { ...item.json, difyDocId: docId, difyBatch, uploadError, uploadMethod: 'text' } });\n}\nreturn results;"
      },
      "typeVersion": 2
    },
    {
      "id": "report-progress",
      "name": "Report File Progress",
      "type": "n8n-nodes-base.code",
      "position": [
        2048,
        304
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst params = $('Parse Sync Params').first().json;\nfor (const item of items) {\n  if (!params.progressCallbackUrl) continue;\n  const headers = { 'Content-Type': 'application/json' };\n  if (params.progressCallbackToken) headers['X-Rag-Sync-Token'] = params.progressCallbackToken;\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: params.progressCallbackUrl,\n      headers,\n      body: {\n        syncJobId: params.syncJobId,\n        status: 'running',\n        filesProcessed: item.json.fileIndex,\n        filesTotal: item.json.totalFiles,\n        chunksProcessed: item.json.fileIndex,\n        step: {\n          task: 'Upload Files',\n          stepName: 'upload_files',\n          status: item.json.uploadError ? 'failed' : 'running',\n          message: item.json.fileIndex + '/' + item.json.totalFiles + ' processed',\n          errorMessage: item.json.uploadError || undefined,\n        },\n        logMessage: 'Processed ' + item.json.filePath + (item.json.uploadError ? ' | ERROR: ' + item.json.uploadError : ''),\n        logSeverity: item.json.uploadError ? 'ERROR' : 'INFO',\n      },\n      json: true,\n    });\n  } catch {}\n}\nreturn items;"
      },
      "typeVersion": 2
    },
    {
      "id": "aggregate-doc-ids",
      "name": "Aggregate Doc IDs",
      "type": "n8n-nodes-base.code",
      "position": [
        2272,
        304
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst documentRefs = items\n  .filter(item => item.json.difyDocId != null && item.json.difyBatch != null)\n  .map(item => ({\n    filePath: item.json.filePath,\n    difyDocId: item.json.difyDocId,\n    batchId: item.json.difyBatch,\n  }));\nconst docIds = documentRefs.map(ref => ref.difyDocId);\nconst batchIds = documentRefs.map(ref => ref.batchId);\nconst uploadErrors = items\n  .filter(item => item.json.uploadError)\n  .map(item => ({ filePath: item.json.filePath, error: item.json.uploadError }));\nconst params = $('Parse Sync Params').first().json;\nconst totalFiles = items.reduce((max, item) => Math.max(max, Number(item.json.totalFiles || 0)), 0);\nreturn [{ json: { docIds, batchIds, documentRefs, uploadErrors, params, uploadedCount: docIds.length, totalFiles } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "indexing-start-cb",
      "name": "Indexing Start Callback",
      "type": "n8n-nodes-base.code",
      "position": [
        2496,
        304
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst summary = $input.first().json;\nconst params = $('Parse Sync Params').first().json;\nif (params.progressCallbackUrl) {\n  const headers = { 'Content-Type': 'application/json' };\n  if (params.progressCallbackToken) headers['X-Rag-Sync-Token'] = params.progressCallbackToken;\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: params.progressCallbackUrl,\n      headers,\n      body: {\n        syncJobId: params.syncJobId,\n        status: summary.uploadErrors.length ? 'failed' : 'running',\n        filesProcessed: summary.totalFiles,\n        filesTotal: summary.totalFiles,\n        step: {\n          task: 'Upload Files',\n          stepName: 'upload_files',\n          status: summary.uploadErrors.length ? 'failed' : 'completed',\n          completedAt: new Date().toISOString(),\n          message: summary.uploadedCount + ' files uploaded',\n          errorMessage: summary.uploadErrors.length ? summary.uploadErrors[0].filePath + ': ' + summary.uploadErrors[0].error : undefined,\n        },\n        errorMessage: summary.uploadErrors.length ? summary.uploadErrors[0].filePath + ': ' + summary.uploadErrors[0].error : undefined,\n        logMessage: summary.uploadErrors.length\n          ? 'Upload failed for ' + summary.uploadErrors.length + ' files'\n          : 'All ' + summary.uploadedCount + ' files uploaded to Dify. Starting indexing poll...',\n        logSeverity: summary.uploadErrors.length ? 'ERROR' : 'INFO',\n      },\n      json: true,\n    });\n  } catch {}\n}\nreturn items;"
      },
      "typeVersion": 2
    },
    {
      "id": "dify-indexing-start-cb",
      "name": "Dify Indexing Start Callback",
      "type": "n8n-nodes-base.code",
      "position": [
        2720,
        304
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst summary = $input.first().json;\nconst params = $('Parse Sync Params').first().json;\nif (params.progressCallbackUrl && summary.batchIds.length > 0) {\n  const headers = { 'Content-Type': 'application/json' };\n  if (params.progressCallbackToken) headers['X-Rag-Sync-Token'] = params.progressCallbackToken;\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: params.progressCallbackUrl,\n      headers,\n      body: {\n        syncJobId: params.syncJobId,\n        status: 'running',\n        step: {\n          task: 'Dify Indexing',\n          stepName: 'dify_indexing',\n          status: 'running',\n          startedAt: new Date().toISOString(),\n          message: 'Indexing ' + summary.batchIds.length + ' files',\n        },\n        logMessage: 'Indexing ' + summary.batchIds.length + ' files in Dify...',\n      },\n      json: true,\n    });\n  } catch {}\n}\nreturn items;"
      },
      "typeVersion": 2
    },
    {
      "id": "poll-dify-indexing",
      "name": "Poll Dify Indexing",
      "type": "n8n-nodes-base.code",
      "position": [
        2944,
        304
      ],
      "parameters": {
        "jsCode": "const { docIds, batchIds, documentRefs, params, uploadErrors, totalFiles, uploadedCount } = $input.first().json;\nconst refsByBatch = Object.fromEntries((documentRefs || []).map(ref => [ref.batchId, ref]));\nconst retryableError = (error) => {\n  const normalized = String(error || '').toLowerCase();\n  return ['too many requests', 'rate limit', 'ratelimit', '429', 'timeout', 'timed out', 'temporary', 'temporarily', 'embedding', 'upstream', 'unavailable', 'overloaded', 'try again'].some(token => normalized.includes(token));\n};\nif (!batchIds.length) {\n  return [{ json: {\n    docIds: [],\n    batchIds: [],\n    documentRefs: [],\n    results: {},\n    failedDocuments: [],\n    completedCount: 0,\n    errorCount: 0,\n    timedOut: false,\n    uploadErrors: uploadErrors || [],\n    finalStatus: uploadErrors && uploadErrors.length ? 'failed' : 'completed',\n    params,\n    totalFiles,\n    uploadedCount,\n  } }];\n}\nconst maxAttempts = 24;\nconst intervalMs = 5000;\nconst results = {};\nconst failedByDocId = {};\nfor (let attempt = 0; attempt < maxAttempts; attempt++) {\n  await new Promise(r => setTimeout(r, intervalMs));\n  let allDone = true;\n  for (const batchId of batchIds) {\n    if (results[batchId] === 'completed' || results[batchId] === 'error') continue;\n    const ref = refsByBatch[batchId] || {};\n    try {\n      const data = await this.helpers.httpRequest({\n        method: 'GET',\n        url: params.difyApiUrl + '/v1/datasets/' + params.difyDatasetId + '/documents/' + batchId + '/indexing-status',\n        headers: { Authorization: 'Bearer ' + params.difyApiKey },\n        json: true,\n      });\n      const rows = Array.isArray(data.data) ? data.data : [];\n      const statuses = rows.map(item => item.indexing_status).filter(Boolean);\n      const erroredRows = rows.filter(item => item.indexing_status === 'error');\n      for (const row of erroredRows) {\n        const difyDocId = row.id || row.document_id || row.doc_id || ref.difyDocId;\n        const error = row.error || row.error_message || row.message || 'Dify indexing failed';\n        failedByDocId[difyDocId || batchId] = {\n          filePath: ref.filePath || row.name,\n          difyDocId,\n          batchId,\n          indexingStatus: 'error',\n          error,\n          retryable: retryableError(error),\n        };\n      }\n      const hasError = erroredRows.length > 0 || statuses.includes('error');\n      const hasPending = statuses.some(status => !['completed', 'error'].includes(status));\n      const status = hasError ? 'error' : (hasPending ? 'indexing' : (statuses.length ? 'completed' : undefined));\n      if (status) results[batchId] = status;\n      if (status !== 'completed' && status !== 'error') allDone = false;\n    } catch (e) {\n      allDone = false;\n    }\n  }\n  if (allDone) break;\n}\nconst timedOutBatches = batchIds.filter(batchId => !['completed', 'error'].includes(results[batchId]));\nfor (const batchId of timedOutBatches) {\n  const ref = refsByBatch[batchId] || {};\n  failedByDocId[ref.difyDocId || batchId] = {\n    filePath: ref.filePath,\n    difyDocId: ref.difyDocId,\n    batchId,\n    indexingStatus: results[batchId] || 'timeout',\n    error: 'Indexing timed out',\n    retryable: true,\n  };\n}\nconst failedDocuments = Object.values(failedByDocId);\nconst completedCount = Object.values(results).filter(s => s === 'completed').length;\nconst errorCount = failedDocuments.length;\nconst timedOut = timedOutBatches.length > 0;\nconst hasFailures = errorCount > 0 || timedOut || (uploadErrors && uploadErrors.length > 0);\nreturn [{ json: {\n  docIds, batchIds, documentRefs, results, failedDocuments, completedCount, errorCount, timedOut,\n  uploadErrors: uploadErrors || [],\n  finalStatus: hasFailures ? 'failed' : 'completed',\n  params,\n  totalFiles,\n  uploadedCount,\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "report-final",
      "name": "Report Final Status",
      "type": "n8n-nodes-base.code",
      "position": [
        3168,
        304
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst summary = $input.first().json;\nconst params = $('Parse Sync Params').first().json;\nconst firstUploadError = summary.uploadErrors && summary.uploadErrors.length ? (summary.uploadErrors[0].filePath + ': ' + summary.uploadErrors[0].error) : '';\nconst failedDocuments = summary.failedDocuments || [];\nconst firstFailedDoc = failedDocuments.length ? failedDocuments[0] : null;\nconst failedDocSummary = firstFailedDoc ? ((firstFailedDoc.filePath || firstFailedDoc.difyDocId || 'unknown document') + (firstFailedDoc.error ? ': ' + firstFailedDoc.error : '')) : '';\nconst finalError = firstUploadError || (failedDocuments.length > 0 ? (failedDocuments.length + ' docs failed indexing: ' + failedDocSummary) : (summary.timedOut ? 'Indexing timed out' : ''));\nif (params.progressCallbackUrl) {\n  const headers = { 'Content-Type': 'application/json' };\n  if (params.progressCallbackToken) headers['X-Rag-Sync-Token'] = params.progressCallbackToken;\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: params.progressCallbackUrl,\n      headers,\n      body: {\n        syncJobId: params.syncJobId,\n        status: summary.finalStatus,\n        filesProcessed: summary.totalFiles,\n        filesTotal: summary.totalFiles,\n        chunksProcessed: summary.completedCount,\n        errorMessage: finalError || undefined,\n        step: summary.uploadErrors && summary.uploadErrors.length ? {\n          task: 'Upload Files',\n          stepName: 'upload_files',\n          status: 'failed',\n          completedAt: new Date().toISOString(),\n          message: 'Upload failed for ' + summary.uploadErrors.length + ' files',\n          errorMessage: firstUploadError,\n        } : {\n          task: 'Dify Indexing',\n          stepName: 'dify_indexing',\n          status: summary.finalStatus,\n          completedAt: new Date().toISOString(),\n          message: summary.finalStatus === 'completed'\n            ? summary.totalFiles + ' / ' + summary.totalFiles + ' indexed'\n            : summary.completedCount + ' indexed, ' + failedDocuments.length + ' errors',\n          errorMessage: finalError || undefined,\n          failedDocuments,\n        },\n        logMessage: finalError ? ('Sync failed: ' + finalError) : ('Sync complete: ' + summary.completedCount + '/' + summary.totalFiles + ' docs indexed'),\n        logSeverity: summary.finalStatus === 'failed' ? 'ERROR' : 'INFO',\n      },\n      json: true,\n    });\n  } catch {}\n}\nreturn items;"
      },
      "typeVersion": 2
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Sync Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Sync Params": {
      "main": [
        [
          {
            "node": "Init Step Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Step Callback": {
      "main": [
        [
          {
            "node": "Get Repo File Tree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Repo File Tree": {
      "main": [
        [
          {
            "node": "Filter Supported Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Supported Files": {
      "main": [
        [
          {
            "node": "Upload Start Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Start Callback": {
      "main": [
        [
          {
            "node": "Fetch File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch File Content": {
      "main": [
        [
          {
            "node": "Upload Doc to Dify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Doc to Dify": {
      "main": [
        [
          {
            "node": "Report File Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report File Progress": {
      "main": [
        [
          {
            "node": "Aggregate Doc IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Doc IDs": {
      "main": [
        [
          {
            "node": "Indexing Start Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indexing Start Callback": {
      "main": [
        [
          {
            "node": "Dify Indexing Start Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dify Indexing Start Callback": {
      "main": [
        [
          {
            "node": "Poll Dify Indexing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Dify Indexing": {
      "main": [
        [
          {
            "node": "Report Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "734b5007-e90c-4479-ab5c-e8a852c09694"
}
